assist_core/as_core_i2c.IAB
assist_core/as_core_i2c.IAD
assist_core/as_core_i2c.IMB
assist_core/as_core_i2c.IMD
assist_core/as_core_i2c.PFI
assist_core/as_core_i2c.PO
assist_core/as_core_i2c.PR
assist_core/as_core_i2c.PRI
assist_core/as_core_i2c.PS
assist_core/as_core_i2c.WK3
main_core/main_core_iic.IAB
main_core/main_core_iic.IAD
main_core/main_core_iic.IMB
main_core/main_core_iic.IMD
main_core/main_core_iic.PFI
main_core/main_core_iic.PO
main_core/main_core_iic.PR
main_core/main_core_iic.PRI
main_core/main_core_iic.PS
main_core/main_core_iic.WK3
assist_core/default/assist_core.eep
assist_core/default/assist_core.elf
assist_core/default/assist_core.hex
assist_core/default/assist_core.lss
assist_core/default/assist_core.map
assist_core/default/assist_core.o
assist_core/default/dep/assist_core.o.d
i2c_test.SDF
main_core/default/dep/main_core.o.d
main_core/default/main_core.eep
main_core/default/main_core.elf
main_core/default/main_core.hex
main_core/default/main_core.lss
main_core/default/main_core.map
main_core/default/main_core.o

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
assist_core/default/Makefile
